* {
  box-sizing: border-box;
}

body {
  background-color: rgb(81, 142, 85);
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.main-heading {
  font-size: 50px;
  color: white;
  font-weight: 1000;
}

marquee {
  font-size: 30px;
}

.editor-block {
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 2px black;

}

.preview-block {
  border: 2px 2px 2px 2px solid black;
}

#editor {
  height: 60vh;
  width: 50vw;
  background-color: rgb(220, 243, 225);
}

#preview {
  /* width: 60vw; */
  min-height: 50vh;
  background-color: rgb(220, 243, 225);
  padding: 25px;
  padding-top: 0;
  margin-top: -20px;
  overflow-wrap: break-word;
}

#preview h1 {
  display: block;
  border-bottom: 2px solid black;
}

#preview h2 {
  display: block;
  border-bottom: 1px solid black;
}

#preview pre {
  display: block;
  overflow: auto;
  word-wrap: break-word;
}

#preview code {
  background-color: white;
  display: block;
}

#preview table {
  display: table;
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
}

td, th {
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

#preview img {
  max-width: 300px;
}

header {
  background-color: rgb(31, 139, 38);
  margin: 0;
  padding: 0;
  font-size: large;
  font-weight: bold;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}